.cartImg{
    border-radius: 20px;
}
.gradient-custom{
    background-color: rgb(228, 248, 255);
    color: white;
}
.cartLink {
    text-decoration: none;
    color: orange;
    margin-left: 20px;
    
}