.card-img-top{
    height: 200px;
    width: 100%;
    border-radius: 10px;
}

.cards{
    border: none;
    width: 250px;
    margin: 10px;
    height: 330px;
    cursor: pointer;
    transition: all 1s ease-in-out;
    background-color: rgba(15, 15, 76, 0.64);
  
}
.cards:hover{
transform: scale(0.9);
}
.card-body{
    /* background-color: #fff; */
    background-color: rgba(59, 59, 108, 0.64);

}
.rating{
    /* background-color: goldenrod; */
    color: gold;
   display: flex;
   justify-content: center;
   align-items: center;
   padding:  0 5px;
   border-radius: 20px;
}
.restaurants{
    letter-spacing: 2px;
    font-weight: bold;
    text-shadow: 3px 2px 15px rgb(255, 149, 149);
    
}
@media screen and (max-width:533px) {
    .card{
        width: 100%;
    }
    
    
}