#details{
    background-color: rgba(15, 15, 76, 0.64);
    color: white;

}
.card-body{
   background-color: rgba(15, 15, 76, 0.64);
    
}
.card-body ul li{
   background-color: rgba(15, 15, 76, 0.64);
   font-weight: normal;

}
.restaurant-img{
    width: 70%;
    border-radius: 20px;

}
div .img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}